//- HomepageHero
section.Section.HomepageHero.theme--transparent.js-scrollAfter
  div.HomepageHero__container
    div.HomepageHero__bg: img(src='assets/los-angeles-mountains-bg.jpg')
    div.HomepageHero__text
      include ../../../parts/Header/images/los-angeles-mountains-text.svg
    div.HomepageHero__mountains: img(src='assets/los-angeles-mountains.png')
