.HomepageHero__container {
  padding-bottom: 31.4%;
  position: relative;
}

@media (min-width: 768px) {
  .HomepageHero__container {
    padding-bottom: 15.84%;
  }
}

.HomepageHero__bg img {
  position: relative;
  width: 100%;
  z-index: 1;
}

.HomepageHero__text {
  left: 13%;
  position: absolute;
  top: 30.5%;
  width: 68%;
  z-index: 2;
}

@media (min-width: 768px) {
  .HomepageHero__text {
    left: 25.5%;
    top: 28.5%;
    width: 37.125%;
  }
}

.HomepageHero__text svg {
  width: 100%;
}

.HomepageHero__mountains {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 3;
}

.HomepageHero__mountains img {
  display: block;
  width: 100%;
}
