section.Section.Section--hasBg.HomepageHistory.theme--Transparent
  div.Section__container
    div.Section__layoutContainer.Section__row
      div.Section__layout
        header.Section__header.Section__header--vertical
          a(name="target" id="history" data-title="History" class="js-page-nav-item")
          h1.Section__title
            span.Section__titleNumber 01.
            span.Section__titleText History
          p.Section__copy Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in ante viverra, rutrum erat rutrum, consectetur mi. Proin at maximus est. Nullam purus ex, iaculis sed erat sed, blandit tincidunt quam. Cras scelerisque id quam sed dignissim Pellentesque urna nunc, gravida quis hendrerit ac, tristique ut quam. Vivamus suscipit dignissim tortor nec congue.
  section.Carousel
    div.Section__container.theme--DarkOpacity
      div.Section__layoutContainer
        div.Section__layout
          div.Carousel__container
            div.Carousel__items
              div.Carousel__item(data-slide="1")
                picture
                  source(srcset='assets/los-angeles-mountains-carousel-thumb1.webp' type="image/webp")
                  source(srcset='assets/los-angeles-mountains-carousel-thumb1.jpg' type="image/jpg")
                  img(src="assets/los-angeles-mountains-carousel-thumb1.jpg")
              div.Carousel__item(data-slide="2")
                picture
                  source(srcset='assets/los-angeles-mountains-carousel-thumb2.webp' type="image/webp")
                  source(srcset='assets/los-angeles-mountains-carousel-thumb2.jpg' type="image/jpg")
                  img(src="assets/los-angeles-mountains-carousel-thumb2.jpg")
              div.Carousel__item(data-slide="3")
                picture
                  source(srcset='assets/los-angeles-mountains-carousel-thumb3.webp' type="image/webp")
                  source(srcset='assets/los-angeles-mountains-carousel-thumb3.jpg' type="image/jpg")
                  img(src="assets/los-angeles-mountains-carousel-thumb3.jpg")
              div.Carousel__item(data-slide="4")
                picture
                  source(srcset='assets/los-angeles-mountains-carousel-thumb4.webp' type="image/webp")
                  source(srcset='assets/los-angeles-mountains-carousel-thumb4.jpg' type="image/jpg")
                  img(src="assets/los-angeles-mountains-carousel-thumb4.jpg")
              div.Carousel__item(data-slide="5")
                picture
                  source(srcset='assets/los-angeles-mountains-carousel-thumb5.webp' type="image/webp")
                  source(srcset='assets/los-angeles-mountains-carousel-thumb5.jpg' type="image/jpg")
                  img(src="assets/los-angeles-mountains-carousel-thumb5.jpg")
              div.Carousel__item(data-slide="6")
                picture
                  source(srcset='assets/los-angeles-mountains-carousel-thumb6.webp' type="image/webp")
                  source(srcset='assets/los-angeles-mountains-carousel-thumb6.jpg' type="image/jpg")
                  img(src="assets/los-angeles-mountains-carousel-thumb6.jpg")
              div.Carousel__item(data-slide="7")
                picture
                  source(srcset='assets/los-angeles-mountains-carousel-thumb7.webp' type="image/webp")
                  source(srcset='assets/los-angeles-mountains-carousel-thumb7.jpg' type="image/jpg")
                  img(src="assets/los-angeles-mountains-carousel-thumb7.jpg")
              div.Carousel__item(data-slide="8")
                picture
                  source(srcset='assets/los-angeles-mountains-carousel-thumb8.webp' type="image/webp")
                  source(srcset='assets/los-angeles-mountains-carousel-thumb8.jpg' type="image/jpg")
                  img(src="assets/los-angeles-mountains-carousel-thumb8.jpg")
              div.Carousel__item(data-slide="9")
                picture
                  source(srcset='assets/los-angeles-mountains-carousel-thumb9.webp' type="image/webp")
                  source(srcset='assets/los-angeles-mountains-carousel-thumb9.jpg' type="image/jpg")
                  img(src="assets/los-angeles-mountains-carousel-thumb9.jpg")
              div.Carousel__item(data-slide="10")
                picture
                  source(srcset='assets/los-angeles-mountains-carousel-thumb10.webp' type="image/webp")
                  source(srcset='assets/los-angeles-mountains-carousel-thumb10.jpg' type="image/jpg")
                  img(src="assets/los-angeles-mountains-carousel-thumb10.jpg")
              div.Carousel__item(data-slide="11")
                picture
                  source(srcset='assets/los-angeles-mountains-carousel-thumb11.webp' type="image/webp")
                  source(srcset='assets/los-angeles-mountains-carousel-thumb11.jpg' type="image/jpg")
                  img(src="assets/los-angeles-mountains-carousel-thumb11.jpg")
              div.Carousel__item(data-slide="12")
                picture
                  source(srcset='assets/los-angeles-mountains-carousel-thumb1.webp' type="image/webp")
                  source(srcset='assets/los-angeles-mountains-carousel-thumb1.jpg' type="image/jpg")
                  img(src="assets/los-angeles-mountains-carousel-thumb1.jpg")
            ul.Carousel__nav
