//- Header
header.SiteHeader.theme--Transparent
  div.SiteHeader__container
    div.SiteHeader__navContainer
      h1.SiteHeader__logo
        a.SiteHeader__logoLink(href="/" data-analytics-label="Los Angeles Mountains Logo")
          img(src="assets/los-angeles-mountains-logo.png")
      nav.SiteHeaderNav
        ol.SiteHeaderNav__list
          li.SiteHeaderNavItem
            span.SiteHeaderNavItem__link(data-target="history") History
          li.SiteHeaderNavItem
            span.SiteHeaderNavItem__link(data-target="team") Team
