.SiteHeader {
  background-color: var(--backgroundColor);
  font-weight: var(--fontWeightBold);
  font-style: italic;
  left: 0;
  position: absolute;
  top: 0;
  transition: transform 0.5s ease;
  width: 100%;
  z-index: 100;
}

@media (max-width: 767px) {
  .SiteHeader {
    --desktopNavDisplay: none;
  }
}

.SiteHeader.is-hidden {
  transform: translateY(-100%);
}

.SiteHeader.is-fixed {
  position: fixed;
  transform: translateY(0%);
}

.SiteHeader .SiteLogo img {
  border: 1px solid #bcc3c6;
  border-radius: 100%;
}

.SiteHeader .SiteLogo__text {
  display: none;
}

.SiteHeader.is-fixed .SiteLogo__text {
  display: block;
}

.SiteHeader__container {
  position: relative;
  max-width: calc(var(--columnPaddingNormal) * 2 + var(--layoutWidth));
  margin: 0 auto;
  padding: 0 var(--columnPaddingNormal);
}

.SiteHeader__navContainer {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  min-height: 56px;
  padding: 12px var(--columnPaddingNormal);
}

@media (max-width: 767px) {
  .SiteHeader.is-fixed .SiteHeader__navContainer {
    -webkit-box-pack: center;
    justify-content: center;
  }
}

.SiteHeaderNav,
.SiteHeaderNavItem,
.SiteHeaderNavItem__link {
  color: var(--linkColor);
}

.SiteHeaderNav__list {
  display: var(--desktopNavDisplay, flex);
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  list-style-position: inside;
  list-style-type: decimal-leading-zero;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.SiteHeaderNavItem {
  position: relative;
}

.SiteHeaderNavItem:not(:last-of-type) {
  margin-right: 50px;
}

.SiteHeaderNavItem__link {
  cursor: pointer;
  display: inline-block;
}

.SiteHeaderNavItem__link::before,
.SiteHeaderNavItem__link::after {
  background-color: var(--linkColor);
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}

.SiteHeaderNavItem__link::after {
  opacity: 0;
  -webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: top 0.3s, opacity 0.3s, transform 0.3s;
}

.SiteHeaderNavItem__link:hover::before,
.SiteHeaderNavItem__link:hover::after {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  transform: scale(1.15);
}

.SiteHeaderNavItem__link:hover::after {
  opacity: 1;
  top: 0;
}
