section.Section.HomepageClimb.Section--small.theme--White
  div.Section__container
    div.Section__layoutContainer.Section__row
      div.Section__layout
        header.Section__header.Section__header--horizontal
          h1.Section__title
            span.Section__titleNumber 02.
            span.Section__titleText Climb
          p.Section__copy Cras scelerisque id quam sed dignissim Pellentesque urna nunc, gravida quis hendrerit ac, tristique ut quam. Vivamus suscipit dignissim tortor nec congue.
  section.Tabs.theme--Dark
    div.Section__container
      div.Section__layoutContainer
          ul.Tabs__nav
            li.Tabs__navItem.active(data-tab="mountain1") Mountain 1
            li.Tabs__navItem(data-tab="mountain2") Mountain 2
  div.Tabs__content
    div#mountain1.Tabs__pane.active.Section--hasBg.theme--Transparent
      div.Section__container
        div.Section__layoutContainer
          div.Section__layout
            div.Schedule__container
              h2.Section__title Schedule
              div.Schedule__table
                div.Schedule__month
                  div.Schedule__row
                    div.Schedule__date 25 Nov 2016
                    div.Schedule__content Vestibulum viverra
                  div.Schedule__row
                    div.Schedule__date 28 Nov 2016
                    div.Schedule__content Vestibulum viverra
                div.Schedule__month
                  div.Schedule__row
                    div.Schedule__date 18 Dec 2016
                    div.Schedule__content Vestibulum viverra
                div.Schedule__month
                  div.Schedule__row
                    div.Schedule__date 7 Jan 2016
                    div.Schedule__content Vestibulum viverra
    div#mountain2.Tabs__pane.Section--hasBg.theme--Transparent
      div.Section__container
        div.Section__layoutContainer
          div.Section__layout
            div.Schedule__container
              h2.Section__title Schedule
              div.Schedule__table
                div.Schedule__month
                  div.Schedule__row
                    div.Schedule__date 17 Nov 2016
                    div.Schedule__content Vestibulum viverra
                div.Schedule__month
                  div.Schedule__row
                    div.Schedule__date 13 Dec 2016
                    div.Schedule__content Vestibulum viverra
                  div.Schedule__row
                    div.Schedule__date 28 Dec 2016
                    div.Schedule__content Vestibulum viverra
                div.Schedule__month
                  div.Schedule__row
                    div.Schedule__date 9 Feb 2017
                    div.Schedule__content Vestibulum viverra
