//- Footer
header.SiteFooter.theme--Dark
  div.SiteFooter__container
    div.SiteFooter__navContainer
      h1.SiteFooter__logo
        a.SiteFooter__logoLink(href="/" data-analytics-label="Los Angeles Mountains Logo")
          img(src="assets/los-angeles-mountains-foot-logo.png")
      p.SiteFooterCopyright Copyright 2016. All rights reserved.
