.SiteFooter {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  font-size: 12px;
  font-style: italic;
  font-weight: var(--fontWeightBold);
  letter-spacing: 1px;
  line-height: 20px;
  text-transform: uppercase;
}

.SiteFooter__container {
  position: relative;
  max-width: calc(var(--columnPaddingNormal) * 2 + var(--layoutWidth));
  margin: 0 auto;
  padding: 0 var(--columnPaddingNormal);
}

.SiteFooter__navContainer {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 32px var(--columnPaddingNormal) 12px;
}

@media (min-width: 768px) {
  .SiteFooter__navContainer {
    padding: 12px var(--columnPaddingNormal);
  }
}
